.container {
    background-color: #636363;
    display: grid;
    place-content: center;
    height: 100vh;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

img {
    width: 200px;
    height: 200px;
}